

*,
*::before,
*::after{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/*Sign Up Css*/


:root {
    --primary-color: #f0f0f0;
    --text-color: #000000;
    --second-accent-color: #24ff1c;    
}

body{
    background-color:var(--primary-color);
}

.dark-mode {
    --primary-color: #141414;
    --text-color: #ffffff;

}

body.active-modal {
    overflow-y:hidden
}



/*Sign Up Css*/


.container {
    max-width: 750px;
    width: 100%;
    padding: 15rem 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}


.form-container {
    border-radius: 10px;
    display: flex;
}
.logo-container {
    padding: 0 2rem;
    border-radius: 60%;
    background: var(--primary-color);
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-container h2 {
    font-size: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}


.logo-container h2 span:nth-child(1){
    color:var(--text-color);
   
}


.logo-container h2 span:nth-child(2){
    color:#24ff1c;
    font-weight: normal;
}


.signup-container {
    padding: 1rem;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.signup-form {
    text-align: center;
}


.signup-form h2{
    color:#24ff1c
}


.signup-form p {
    color: var(--text-color);
}


.signup-form input {
    outline: none;
    border: none;
    padding: 1rem;
    margin: 0.5rem;
    width: 90%;
    border-radius: 10px;
}


.signup-form button {
    border: none;
    outline: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    background: #24ff1c;
    font-weight: bold;
    cursor: pointer;
}


/*Log In Css*/




.login-container {
    padding: 3rem 1rem;
    display: flex;
    align-items: center;
    border-bottom-right-radius: 10px;
    border-top-right-radius: 10px;
}


.login-form {
    text-align: center;
}


.login-form input {
    outline: none;
    border: none;
    padding: 1rem;
    margin: 1.5rem;
    width: 90%;
    border-radius: 10px;
}


.login-form button {
    border: none;
    outline: none;
    padding: 1rem;
    margin-bottom: 0.5rem;
    border-radius: 5px;
    background: #24ff1c;
    font-weight: bold;
    cursor: pointer;
}


.login-form h2 {
    color:#24ff1c;
}


.login-form p {
    color: var(--text-color);
}
/*NavBar css*/

.navbar-wrapper {
    height: 100vh;
    width: 350px;
    top: 0;
    position: sticky;
    background: var(--primary-color);
    box-shadow: 0 0 1px var(--text-color);
}

.navbar-container {
    padding: 0.75rem 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-navbar,
.bottom-navbar{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}

.top-navbar button,
.bottom-navbar button {
    border:none;
    font-size: 1rem;
    background: none;

}

.top-navbar a,
.top-navbar button,
.bottom-navbar button{
    padding: .75rem 1rem;
    display: flex;
    align-items: center;
    border-radius: 5px;
    list-style: none;
    text-decoration: none;
    color: var(--text-color);
    cursor: pointer;
    transition: background-color ease 0.3s,
                color ease 0.3s;
}

.top-navbar a:hover:not(a:nth-child(1)),
.top-navbar button:hover,
.bottom-navbar button:hover {
    background: var(--second-accent-color);
    color: var(--primary-color);
}


.top-navbar a:nth-child(1) {
    font-size: 2rem;
    margin-bottom: 0.75rem;
}

.top-navbar a:nth-child(1) span:nth-child(1) {
    color: var(--text-color);  
}

.top-navbar a:nth-child(1) span:nth-child(2) {
    color: var(--second-accent-color)
}

.top-navbar a:nth-child(1) span:nth-child(3),
.top-navbar a:nth-child(1) span:nth-child(4){
    display: none;
}


.top-navbar a span:not(a:nth-child(1) span),
.top-navbar button span,
.bottom-navbar span {
    margin-left: 1rem;
}

.filter-button {
    width: 100%;
    position: relative;
}

.filter-button span:nth-child(3) {
    opacity: 1;
    position: absolute;
    right: 10%;
}


.filter-container{
    width: 100%;
    height: 2px;
    position: relative;
}

.filter-list{
    --menu-Y: 3rem;
    list-style:none;
    display:flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto
}


.filter-list.menu-active {
    opacity: 1;
    z-index: 1;
    transform: translateY(var(--menu-Y));
    transition: 0.3s ease;
}

.filter-list.menu-inactive {
    opacity: 0;
    z-index: -1;
    transform: translateY(calc(var(--menu-Y) - 1rem));
    transition: 0.3s ease;
}


.filter-list li {
    color: var(--text-color);
    padding: 0.5rem 0.5rem;
    display:flex;
    align-items: center;
    justify-content:center;
    border-radius: 5px;
    cursor: pointer;
}

.filter-list li:hover {
    background:rgba(138, 134, 134, 0.4)
}

@media (width < 1350px) {

    .top-navbar a span:nth-child(2),
    .top-navbar a:nth-child(1) span:nth-child(1),
    .top-navbar button span:nth-child(3),
    .top-navbar button span:nth-child(4),   
    .top-navbar button span:nth-child(2),
    .bottom-navbar button span:nth-child(2) {
        display: none;
    }

    .top-navbar a:nth-child(1) span:nth-child(3),
    .top-navbar a:nth-child(1) span:nth-child(4) {
        font-size: 1.5rem;
        display: block;
    }

    .top-navbar a:nth-child(1) span:nth-child(4) {
        color: var(--second-accent-color);
    }



    .navbar-wrapper {
        width: 90px;
    }


}




@media (width < 770px) {

    .navbar-wrapper {
        box-shadow: none;
        width: 0;
        z-index: 3;
    }

    .navbar-container {
        box-shadow: 0 0 1px var(--text-color);
        background: var(--primary-color);
        display: flex;
        flex-direction: row;
        position: fixed;
        z-index: 4;
        bottom: 0;
        height: 75px;
        width: 100%;
    }

    .top-navbar a:nth-child(1),
    .bottom-navbar {
        display: none;
    }

    .filter-button {
        width: fit-content;
    }

    .top-navbar {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: row;
        justify-content: space-between;
    }


    .top-navbar a,
    .top-navbar button {
        padding: 0.1rem;
    }

    .filter-container {
        width: fit-content;
        display: flex;
        justify-content: center;
        align-items: center;
    }


    .filter-list li {
        display: none;
    }
}


/*Home Page Css*/

.wrapper {
    display: flex;
}

.no_overflow {
    height: 100vh;
    display: flex;
    overflow-y: hidden;
}


/*Create Css*/


.create-wrapper {
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0.7);
    height: 100%;
    width: 100%;
    z-index: 20;
}

.create-container {
    height: 550px;
    max-width: 700px;
    background: var(--primary-color);
    border-radius: 5px;
    display: flex;
    flex-direction: column;
}

.right-container {
    background: var(--primary-color);
    height: 100%;
    width: 100%;
    border-bottom-right-radius: 5px;
}

.filter-create {
    height: 50%;
    width: 100%;
    position: relative;
    
}

.filter-create button {
    display: flex;
    justify-content: space-between;
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 1rem;
    border: none;
    background: none;
}

.filter-create button span,
.filter-create button {
    cursor: pointer;
    color:var(--text-color)
}

.create-filter-list{
    --menu-Y: 2rem;
    list-style:none;
    display:flex;
    flex-direction: column;
    gap: 0.25rem;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    margin: auto
}


.create-filter-list.menu-active {
    opacity: 1;
    z-index: 1;
    transform: translateY(var(--menu-Y));
    transition: 0.3s ease;
}

.create-filter-list.menu-inactive {
    opacity: 0;
    z-index: -1;
    transform: translateY(calc(var(--menu-Y) - 1rem));
    transition: 0.3s ease;
}


.filter-create ul {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.right-container li {
    cursor:pointer;
    padding: .25rem;
    list-style: none;
    color: var(--text-color)
}

.create-filter-list li:hover {
    background:rgba(138, 134, 134, 0.4)
}


.caption_holder{
    font-family: 'Times New Roman', Times, serif;
    font-size: 1rem;
    resize:none;
    width: 100%;
    height: 50%;
    border: none;
    background: none;
    padding: .5rem 0 0 .25rem
}

.caption_holder:focus {
    outline:none;
}

.create-header {
    width: 100%;
    display: flex;
    padding: 0.5rem 0;
    align-items: center;
    justify-content: center;
    box-shadow: 0 0 1px var(--text-color);
    position: relative;
}

.create-header button:hover {
    opacity: 0.5;
}

.back_button{
    position: absolute;
    cursor: pointer;
    left: 0;
    color: var(--text-color);
    background: none;
    border: none;
    padding-left: 1rem;
}


.create_post{
    position: absolute;
    cursor: pointer;
    right: 0;
    color: var(--second-accent-color);
    background: none;
    border: none;
    padding-right: 1rem;
}



.create_exit {
    position:absolute;
    color: var(--text-color);
    top: 0;
    right: 0;
    background: none;
    font-size: 2rem;
    margin: 3rem 3rem 0 0;
    border: none;
    cursor:pointer;
}




.create-header h3 {
    font-weight: 500;
    color: var(--text-color)
}


.create-bottom {
    height: 100%;
    width: 100%;
}


.create-bottom label {
    border: none;
    padding: .75rem;
    border-radius: 5px;
    color: var(--text-color);
    background: var(--second-accent-color);
    cursor: pointer;
}

.create-bottom label:hover {
    color: var(--primary-color)
}

.bottom-default {
    width: 100%;
    height: 100%;
    max-height: 509px; 
    padding: 0 5rem;
    display: flex;
    justify-content: center;
    align-items: center;    
}


.bottom-image {
    display: flex;
    width: 100%;
    height: 100%;
    max-height: 509px; 
    padding: 0;
}

.create_default {
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.bottom-default span {
    font-size: 10rem;
    color: var(--text-color)
}

.bottom-default img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius:5px ;
    border-bottom-right-radius:5px ;
}

.bottom-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-bottom-left-radius:5px ; 
}




/*Create_Post Css*/

.create_post_wrapper {
    min-width: 500px;
    margin: 1rem 0;
    border-radius: 10px;
    /* background: rgba(134, 124, 124, 0.151); */
}

.create_post_container {
    width: 100%;
    padding: 0.5rem 0;
}

.create_post_header {
    padding: 1rem;
    display: flex;
    align-items: center;
    position: relative;
}

.create_post_header::after {
    content: '';
    position: absolute;
    background: var(--text-color);
    width: 95%;
    bottom: 0;
    height: 1px;
}

.create_post_header div:nth-child(1) {
    width: 75px;
    aspect-ratio: 1/1;
    margin-right: 1rem;
}


.create_post_header div:nth-child(1) img{
    border-radius: 50%;
    width: 100%;
    height: 100%;
}

.create_post_header div:nth-child(2) {
    width: 100%;
}

.create_post_header div:nth-child(2) input{
    border: none;
    width: 100%;
    background:rgba(134, 124, 124, 0.205);
    padding: 1rem;
    border-radius: 30vh;
}


.create_post_header div:nth-child(2) input:focus {
    outline: none;
}

.create_post_bottom ul{
    list-style: none;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    align-items: center;
}

.create_post_bottom ul li:nth-child(4){
    background: var(--second-accent-color);
    padding: 0.5rem 1rem;
    border-radius: 30vh;
}

.create_post_bottom ul li:nth-child(4) button {
    color: var(--primary-color);
}


.create_post_bottom ul li span {
    margin-left: 0.2rem;
}

.create_post_bottom ul button {
    cursor: pointer;
}

.create_post_bottom button {
    border: none;
    background: none;
    color: var(--text-color)
}



/*Post Css*/



.post-cont {
    margin:  3rem auto 0;
    display: flex;
}

.post-wrapper {
    max-width: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-inline: auto;
}


.post-container {
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-bottom-color: var(--text-color);
    margin-bottom: 2rem;
    background: var(--primary-color);
    width: 100%;
}


.post-image {
    width: 100%;
    height: 500px;
    object-fit: cover;
    object-position: center;
}


.post-header {
    display: flex;
    justify-content:space-between;
    padding: 0.6rem;
    color: var(--text-color);
}


.post-buttons{
    display: flex;
    justify-content: space-between;
    padding-top: 0.6rem;
}

.post-caption {
    margin: 0 0.5rem;
}

.left-buttons{
    display: flex;
    gap: 1.5rem;
}

.header_right {
    position: relative;
}

.icon_btn {
    right: 0;
    z-index: 0;
    position:absolute;
}


.edit_list{
    --speed: 0.4s;
    --dropdown-menu-Y: 1.5rem;
    position: absolute;
    right: 0;
    left: 0;
    margin: auto;
    list-style: none;
    background:#ffffff;
    width: 7rem;
    border-radius: 5px;
}

.edit_list li {
    --box-padding: .75rem;
    list-style: none;
    padding: var(--box-padding) 0;
    padding-left: var(--box-padding);
}

.edit_list span {
    margin-left: 0.3rem;
}

.edit_list li button {
    color: black;
}

.edit_list.active {
    transform: translateY(var(--dropdown-menu-Y));
    opacity: 1;
    transition: var(--speed) ease;
    z-index: 1;
}

.edit_list.inactive {
    transform: translateY(calc(var(--dropdown-menu-Y) - var(--dropdown-menu-Y)));
    opacity: 0;
    z-index: -1;
    transition: var(--speed) ease;
}


.edit_list.inactive button {
    font-size: .75rem;
}


.edit_list.active button {
    font-size: .75rem;
}




.left-buttons button,
.right-buttons button,
.post-header button{
    background: none;
    cursor: pointer;
    border:none;
    color: var(--text-color);
    font-size: 1rem;
 
}

.left-buttons button:hover,
.right-buttons button:hover,
.post-header button:hover{
    opacity: 0.75;
}






.user-likes,
.post-words {
    color: var(--text-color);
    margin: 0.6rem 0;
}


.post-words span,
.user-likes span {
    font-weight: bold;
    margin-right: 0.3rem;
}



/*Profile Css*/

.profile-wrapper.no-overflow {
    height: 100vh;
    overflow-y:hidden;
}

.profile-wrapper{
    display: flex;
    width: 100%;
    height: 100%;
}

.profile-container {
    display: flex;
    flex-direction: column;
    margin: 0 2.5rem;
    width: 100%;
    height: 100%;
}

.image-container {
    position: relative;
    min-height: 30rem;
    width: 100%;
}

.image-container img {
    object-fit: cover;
    object-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
}

.image-container label {
    right: 0;
    top: 0;
    margin: 2rem 2rem 0 0;
    border: none;
    border-radius: 5px;
    padding: 0.5rem;
    background: white;
    position: absolute;
    cursor: pointer
}

.image-container label span:nth-child(1):hover {
    opacity: .7;
}


.image-container label span {
    margin-left: .5rem;
}


.person-container,
.about-container,
.numbers-container,
.profile-navbar ul li {
    color: var(--text-color)
}

.bottom-container {
    flex: 1 1 auto;
    display: grid;
    grid-template-columns: 25% 1fr;
}

.person-container {
    position: relative;
    padding: 0 1rem;
}

.about-container {
    margin-top: 7.5rem;
    text-align: center;
}

.person-image {
    display: flex;
    align-items: center;
    justify-content: center;
    left: 50%;
    top: -70px;
    transform: translateX(-50%);
    position: absolute;
    border-radius: 50%;
    width: 150px;
    aspect-ratio: 1 / 1;
    cursor: pointer;
}

.person-image img {
    border-radius: 50%;
    width: 100%;
    height: 100%; 
    object-fit: cover;
    object-position: center;
}

.edit_image{
    display: flex;
    color: var(--primary-color);
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: rgba(0,0,0,0.7);
    cursor: pointer;
}

.numbers-container {
    list-style: none;
    display: flex;
    margin-top: 20px;
    padding: .75rem 0 1rem 0;
    justify-content: space-evenly;
    position: relative;
}

.numbers-container::before {
    content: '';
    background: var(--text-color);
    height: 1px;
    width: 80%;
    position: absolute;
    bottom: 0;
}

.numbers-container li {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.bio-container ul {
    list-style: none;
}

.bio-container p {
    text-align: center;
    margin-top: 40px;
}
.photo-container {
    padding: 0 2rem;
}

.profile-navbar {
    display: flex;
    padding: 1rem 0;
    justify-content: space-between;
    align-items: center;
}

.profile-navbar ul {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    cursor: pointer;
}

.profile-navbar button {
    border: none;
    color: var(--text-color);
    background: var(--second-accent-color);
    padding: 0.75rem;
    border-radius: 5px;
    cursor: pointer;
}


.profile-navbar button:hover {
    color: var(--primary-color);
}

.profile-navbar li:hover {
    opacity: 0.5;
}

.profile-images ul{
    max-height: 40rem;
    display: grid;
    gap: .1rem;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 25rem;
    overflow-x: hidden;
    overflow-y: scroll;
}

.profile-images li {
    list-style: none;
    cursor: pointer;
}

.profile-images img {
    object-fit: cover;
    object-fit: center;
    height: 100%;
    width: 100%;
}

@media (width < 1550px) {
    .profile-images ul {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (width < 1175px) {
    .bottom-container {
        display: flex;
        flex-direction: column;
    }

    .profile-images ul {
        max-height: none;
        overflow: hidden;
    }

    .profile-container {
        margin: 0;

    }
}

@media (width < 990px) {

    .photo-container {
        padding: 0;
    }

    .profile-navbar {
        margin-right: 1rem;
    }

    .profile-images ul {
        grid-template-columns: 1fr;
        grid-auto-rows: 1fr;
    }
    
}

@media (width < 550px) {

    .profile-navbar {
        justify-content: center;
        gap: 0.75rem;
        padding: 1rem 0.5rem;
        margin-right: 0;
    }

    .profile-navbar ul{
        width: 70%;
    }
}





/*Profile Modal*/


.profileModal-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(49, 49, 49, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.profileModal-container {
    max-width: 800px;
    width: 100%;
    background: white;
    padding: 3rem;
    display: flex;
    flex-direction: column;
}

.profileModal-container h2 {
    text-align: center;
}

.profileModal-container form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    column-gap: 2rem;
    row-gap: 2rem;
}

.profileModal-container label {
    display: flex;
    text-align: center;
    flex-direction: column;
}

.profileModal-container input {
    border: none;
    background: lightgrey;
    border-radius: 5px;
    padding: 1rem;
}

.profileModal-container input:focus {
    outline: none;
}

.profileModal-container form div{
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: center;
}

.profileModal-container button {
    width: 15%;
    border: none;
    padding: 1rem;
    border-radius: 5px;
    background: #2f8712;
    cursor:pointer;
}

.profileModal-container button:hover {
    background-color:#24ff1c;
    transition: 0.4s ease-in-out;
}



/*Friends.js*/

    @media (width < 1110px) {
        .content-container,
        .content-wrapper {
            display: none;
        }

    }

 .content-wrapper {
    width: 383px;
    margin-left: 4rem;
    padding: 0 1rem;
    /* background: rgba(134, 124, 124, 0.151); */
    border-radius: 10px;
    height: fit-content;
    max-height:520px;
    overflow-y: hidden;
 }

 .content-container {
    width: 100%;
    background: var(--secondary-color);
    border-radius: 10px;
 }

 .content-container input {
    border: none;
    margin: .5rem  0;
    background: rgba(134, 124, 124, 0.151);
    padding: .75rem;
    border-radius: 5px;
    width: 100%;
 }

 .content-container input:focus {
    outline: none;
 }

 .friend_header {
    color: var(--text-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
    position: relative;
 }

 .friend_header button {
    color: var(--text-color);
    border: none;
    background: none;
    cursor: pointer;
 }

 .friend_header button:hover {
    color:#24ff1c;
 }

 .friend_wrapper button {
    color: var(--text-color)
 }

.wrapper_header {
    display: grid;
}

.wrapper_header li {
    padding: .75rem 0;
    list-style: none;
    display: flex;
}

.wrapper_header button {
    border-radius: 50%;
    border: none;
    cursor: pointer;
    background:none;
    transition: background-color 0.2s ease,
                color 0.2s ease;
}

.wrapper_header button:hover {
    color: var(--second-accent-color);
}


.wrapper_header div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.wrapper_header div:nth-child(1) img{
    width: 65px;
    aspect-ratio: 1 / 1;
    border-radius: 50%;
    cursor: pointer;
}

.wrapper_header div h3 {
    color: var(--text-color);
    font-weight: 600;
    font-size: 1rem;
}

.wrapper_header div:nth-child(2) p {
    font-size: 1rem;
}

.wrapper_header div:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}


/*Messages Css*/

.messages-wrapper {
    display: flex;
    max-width: 100vw;
    height: 100vh;
}

.messages-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100vh;
    overflow-x: hidden;
}

.people-container {
    position: sticky;
    top: 0;
    padding: 1rem;
    height: fit-content;
    z-index: 2;
    box-shadow: 0 0 1px var(--text-color);
}

.people-container ul::-webkit-scrollbar {
    width: 1rem;
  }

.people-container ul::-webkit-scrollbar-thumb {
    background: #888; 
    border-radius: 10px;
  }

.people-container ul {
    display: flex;
    gap: 5rem;
    overflow-x: auto;
}

.people-container li{
    padding: 1.5rem 0.5rem;
    list-style: none;
    width:fit-content;
    text-wrap: nowrap;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.people-container a {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-decoration: none;
    color: var(--text-color);
}

.people-container a:focus img{
    box-shadow: 0 0 5px var(--second-accent-color);
}

.people-container li img{
    border-radius: 50%;
    width: 75px;
    aspect-ratio: 1 / 1;
    margin-bottom: 0.5rem;
}


.people-messages-container {
    display: flex;
    flex: 1 1 auto;
    overflow-y: hidden;
}

.chat-container {
    width: 100%;
}

.people-messages-container ul{
    height: 100%;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
    padding: 1rem;
    gap: 1.25rem;
    overflow-y: scroll;
}

.people-messages-container li{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.main-message {
    display: flex;
    align-items: flex-end;
}

.secondary-message p{
    background: var(--second-accent-color);
    width: fit-content;
    padding: 0.5rem;
}

.main-message p{
    background: white;
}

.main-message p, 
.secondary-message p {
    border-radius: 5px;
    padding: 0.5rem;
}

.input-message-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    background: white;
    bottom: 0;
    width: 100%; 
    padding: .75rem;
}

.input-message-container input{
    border: none;
    width: 100%;
    background: rgba(134, 124, 124, 0.151);
    padding: 1rem;
    border-radius: 10px;
    margin-right: 1rem;
}

.input-message-container button {
    border: none;
    border-radius: 5px;
    background: var(--second-accent-color);
    padding: .75rem 1rem;
    cursor: pointer;
}

.input-message-container button:hover  {
    color: white;
}

@media (width < 550px) {
    .people-container li span {
        display: none;
    }
}

@media (width < 770px) {

    .chat-container {
        margin-bottom: 145px;
    }
    .people-container li {
        padding: 0px;
    }
}